/* assets/fonts.css */

/* Helvetica Neue LT Std Bold */
@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-Lt.otf') format('opentype');
     //     url('../fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'), /* Recommended for modern browsers */
     //     url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'), /* Support for older browsers */
     //     url('../fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'); /* Support for even older browsers */
  }

  @font-face {
    font-family: 'Helvetica Neue LT Std Md';
    src: url('../fonts/HelveticaNeueLTStd-Md.otf') format('opentype');
     //     url('../fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'), /* Recommended for modern browsers */
     //     url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'), /* Support for older browsers */
     //     url('../fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'); /* Support for even older browsers */
  }

  @font-face {
    font-family: 'Helvetica Neue LT Std Bold';
    src: url('../fonts/HelveticaNeueLTStd-Bd.otf') format('opentype');
        //  url('../fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'), /* Recommended for modern browsers */
     //     url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'), /* Support for older browsers */
     //     url('../fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'); /* Support for even older browsers */
  }
  
  /* Helvetica Neue LT Std Bold Condensed */
  // @font-face {
  //   font-family: 'Helvetica Neue LT Std Bold Condensed';
  //   font-weight: bold;
  //   src: url('../fonts/HelveticaNeueLTStd-BdCn.otf') format('opentype'),
  //       //  url('../fonts/HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
        //  url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'),
        //  url('../fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype');
  // }
  
  /* Helvetica Neue LT Std Bold Condensed Oblique */
//   @font-face {
//     font-family: 'Helvetica Neue LT Std Bold Condensed Oblique';
//     font-weight: bold;
//     font-style: oblique;
//     src: url('../fonts/HelveticaNeueLTStd-BdCnO.otf') format('opentype'),
//          url('../fonts/HelveticaNeueLTStd-BdCnO.woff2') format('woff2'),
//          url('../fonts/HelveticaNeueLTStd-BdCnO.woff') format('woff'),
//          url('../fonts/HelveticaNeueLTStd-BdCnO.ttf') format('truetype');
//   }
  
  /* Helvetica Neue LT Std Bold Extended */
//   @font-face {
//     font-family: 'Helvetica Neue LT Std Bold Extended';
//     font-weight: bold;
//     src: url('../fonts/HelveticaNeueLTStd-BdEx.otf') format('opentype'),
//          url('../fonts/HelveticaNeueLTStd-BdEx.woff2') format('woff2'),
//          url('../fonts/HelveticaNeueLTStd-BdEx.woff') format('woff'),
//          url('../fonts/HelveticaNeueLTStd-BdEx.ttf') format('truetype');
//   }
  
  /* Helvetica Neue LT Std Bold Extended Oblique */
//   @font-face {
//     font-family: 'Helvetica Neue LT Std Bold Extended Oblique';
//     font-weight: bold;
//     font-style: oblique;
//     src: url('../fonts/HelveticaNeueLTStd-BdExO.otf') format('opentype'),
//          url('../fonts/HelveticaNeueLTStd-BdExO.woff2') format('woff2'),
//          url('../fonts/HelveticaNeueLTStd-BdExO.woff') format('woff'),
//          url('../fonts/HelveticaNeueLTStd-BdExO.ttf') format('truetype');
//   }
  
  /* Helvetica Neue LT Std Bold Italic */
//   @font-face {
//     font-family: 'Helvetica Neue LT Std Bold Italic';
//     font-weight: bold;
//     font-style: italic;
//     src: url('../fonts/HelveticaNeueLTStd-BdIt.otf') format('opentype'),
//          url('../fonts/HelveticaNeueLTStd-BdIt.woff2') format('woff2'),
//          url('../fonts/HelveticaNeueLTStd-BdIt.woff') format('woff'),
//          url('../fonts/HelveticaNeueLTStd-BdIt.ttf') format('truetype');
//   }
  
  /* Helvetica Neue LT Std Black */
//   @font-face {
//     font-family: 'Helvetica Neue LT Std Black';
//     font-weight: 900;
//     src: url('../fonts/HelveticaNeueLTStd-Blk.otf') format('opentype'),
//          url('../fonts/HelveticaNeueLTStd-Blk.woff2') format('woff2'),
//          url('../fonts/HelveticaNeueLTStd-Blk.woff') format('woff'),
//          url('../fonts/HelveticaNeueLTStd-Blk.ttf') format('truetype');
//   }
  
  /* Helvetica Neue LT Std Black Condensed */
//   @font-face {
//     font-family: 'Helvetica Neue LT Std Black Condensed';
//     font-weight: 900;
//     src: url('../fonts/HelveticaNeueLTStd-XBlkCn.otf') format('opentype'),
//          url('../fonts/HelveticaNeueLTStd-XBlkCn.woff2') format('woff2'),
//          url('../fonts/HelveticaNeueLTStd-XBlkCn.woff') format('woff'),
//          url('../fonts/HelveticaNeueLTStd-XBlkCn.ttf') format('truetype');
//   }
  
  /* Add other @font-face rules for the remaining fonts */
  