//
//@media (min-width: 1904px){
//.container {
//  max-width: 1785px;
//}}
//
//@media (min-width: 1264px){
//.container {
//  max-width: 1185px;
//}}
//
//@media (min-width: 960px){
//.container {
//  max-width: 900px;
//}}

body {
  .v-application {
    @media (min-width: 1904px) {
      .container {
        max-width: 80%;
      }
    }

    @media screen and (max-width: 1600px) {
      .container {
        max-width: 90%;
      }
    }

    @media (max-width: 1380px) {
      .container {
        max-width: 98%;
      }
    }

    @media screen and (max-width: 900px) {
      .category {
        .v-list-item {
          padding: 0;
        }
      }
    }

    @media screen and (max-width: 810px) {
      .main-header {
        .logo-holder {
          height: 5.5rem;

          .logo {
            width: 16.8rem;
            height: 5.5rem;
          }
        }
      }

      .test-details-content {
        .detail {
          &.box {
            box-shadow: none;
            margin: 0;
            padding: 0;
            border-radius: .3rem;
            border: 0;
          }
          .detail-image {
            width: 6rem !important;
            height: 7rem;
          }

          .label-holder {
            .label {
              display: inline-block;
              font-size: 1rem;
              padding: .2rem .7rem;
              margin-top: .5rem
            }
          }
        }
      }
    }

    @media screen and (max-width: 610px) {
      .test-details-content {
        .detail {
          .download-links {
            .word-download,
            .pdf-download {
              width: 100%;
              margin: .3rem 0;
            }
          }

          .pdf-page-numbers,
          .preview-text {
            padding: 1rem 0;
          }

        }
      }

    }

    @media screen and (max-width: 480px) {
      .container {
        max-width: 100%;
      }
      .main-header {
        .logo-holder {
          height: 4.4rem;

          .logo {
            width: 12rem;
            height: 4.4rem;
          }
        }
      }

      .popular-hashtags {
        .popular-hashtags-item {
          font-size: 1.1rem;
        }
      }

      .test-details-content {
        .detail {
          .suggest-related-link {
            display: none !important;
          }
        }
        .course-card {
          .avatar-img {
            width: 6.5rem;
            height: 6.5rem;
          }
        }
      }
    }


  }
}
