@media (min-width: 1904px) {
  .container {
    max-width: 80% !important;
  }
}

@media screen and (max-width: 1600px) {
  .container {
    max-width: 90% !important;
  }
}

@media (max-width: 1380px) {
  .container {
    max-width: 98% !important;
  }
}

@media screen and (max-width: 480px){
.container {
  max-width: 100% !important;
}
}
//
//@media (min-width: 1904px){
//.container {
//  max-width: 1785px;
//}}
//
//@media (min-width: 1264px){
//.container {
//  max-width: 1185px;
//}}
//
//@media (min-width: 960px){
//.container {
//  max-width: 900px;
//}}



@media screen and (max-width: 900px) {
  .category {
    .v-list-item {
      padding: 0;
    }
  }
}

@media screen and (max-width: 810px) {
  .main-header {
    .logo-holder {
      height: 5.5rem;

      .logo {
        width: 16.8rem;
        height: 5.5rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .main-header {
    .logo-holder {
      height: 4.4rem;

      .logo {
        width: 12rem;
        height: 4.4rem;
      }
    }
  }

  .popular-hashtags {
    .popular-hashtags-item {
      font-size: 1.1rem;
    }
  }
}

