//General
html {
  font-size: 62.5% !important;
}

.v-application {
  font-family: IRANSans, sans-serif !important;

  a {
    color: unset;
    text-decoration: none;
  }

  p {
    margin: 0 !important;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .v-list--dense .v-list-item .v-list-item__title {
    font-size: $fontsize2;
    line-height: 2rem;
  }

  .theme--light.v-btn.v-btn--has-bg.search-btn {
    background-color: $blue3;
    color: $white;
    text-shadow: none;
    background-image: none;
  }

  .v-btn.v-size--default {
    font-size: $fontsize2;
    letter-spacing: unset;
  }

  .v-text-field--outlined fieldset {
    border: 1px solid rgba(34, 36, 38, .15);
  }

  .v-card__text {
    //font-size: $fontsize2;
  }

  .v-list-item {
    min-height: unset;
  }
}

body {
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANSans, sans-serif;
  font-size: 14px;
}

//.main-container {
//  width: 800%;
//  margin: 0 auto;
//}

.box {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
  margin: 1rem 0;
  padding: 1em 1em;
  border-radius: .28571429rem;
  border: 1px solid rgba(34, 36, 38, .15);
}

//header
.main-header {
  border-bottom: 1px solid $gray1;

  //topbar
  .topbar {
    background-color: $green;
    color: $white;
    padding: .7rem 0;

    .icon {
      font-size: $fontsize4;
    }

    a:hover {
      color: $green2;
    }
  }


  //navbar
  .navbar-items {
    .theme--light.v-app-bar.v-toolbar.v-sheet {
      background-color: $white;
    }

    .v-sheet {
      &.v-toolbar:not(.v-sheet--outlined) {
        box-shadow: none;

        .v-btn {
          letter-spacing: unset;
          background-color: $white;

          .v-icon--left {
            margin-right: -.4rem;
            margin-left: .2rem;
            font-size: $fontsize4;
            width: unset;
            height: unset;
          }

          &.v-size--default {
            font-size: $fontsize2;
            padding: 0 .8rem;
          }
        }

        .v-btn--is-elevated {
          box-shadow: none;
        }
      }
    }

    .desktop-nav {
      .v-toolbar__content {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  .logo-holder {
    height: 6.8rem;

    .logo {
      display: inline-block;
      width: 20rem;
      height: 6.8rem;
      background: url(../images/mainlogo4.png);
      background-size: 100% 100%;
    }
  }
}

// popular-hashtags
.popular-hashtags {
  .popular-hashtags-item {
    color: $pink;
  }
}

// category
.category {
  .icon {
    &:before {
      font-size: 4.5rem;
    }
  }

  .v-list-item__title {
    font-size: $fontsize2;
    white-space: break-spaces;
  }

  .test {
    .icon,
    .v-list-item__title {
      color: $blue1;
    }
  }

  .content {
    .icon,
    .v-list-item__title {
      color: $green3;
    }
  }

  .faq {
    .icon,
    .v-list-item__title {
      color: $orange1;
    }
  }

  .exam {
    .icon,
    .v-list-item__title {
      color: $blue2;
    }
  }

  .textbook {
    .icon,
    .v-list-item__title {
      color: $orange2;
    }
  }

  .school {
    .icon,
    .v-list-item__title {
      color: $brown1;
    }
  }

  .tutor {
    .icon,
    .v-list-item__title {
      color: $purple;
    }
  }
}

// Home page
.banner {
  background: url("../images/nowrooz-1401.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 28rem;
}

.theme--light.search-btn {
  background-color: $blue3;
  color: $white;
  text-shadow: none;
  background-image: none;
}

// grade-card
.grade-card {
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;

  .v-list-item {
    min-height: unset;
  }

  .v-icon.v-icon {
    font-size: $fontsize4;
  }

  .type,
  .stat {
    font-size: $fontsize2;
  }

  .stat {
    color: $green;
  }

  .footer-card {
    font-size: $fontsize2;
  }

  &.grade-card1 {
    border: .2rem solid $green4 !important;

    .grade-title1 {
      color: $green4
    }
  }

  &.grade-card2 {
    border: .2rem solid $red1 !important;

    .grade-title1 {
      color: $red1
    }
  }

  &.grade-card3 {
    border: .2rem solid $blue4 !important;

    .grade-title1 {
      color: $blue4
    }
  }

  &.grade-card4 {
    border: .2rem solid $violet1 !important;

    .grade-title1 {
      color: $violet1
    }
  }
}

// feature-card
.site-feature {
  .v-sheet.v-card:not(.v-sheet--outlined).feature-card {
    background-color: $gray2;
    box-shadow: none;

    .feature-title {
      font-size: 1.8rem;
    }

    .theme--light.v-list {
      background-color: $gray2;
    }

    .feature-detail {
      font-size: $fontsize1;
      color: rgba(0, 0, 0, .6) !important;
    }

  }
}

// footer feed card
.footer-feed-card {
  .v-subheader.feed-header {
    font-size: $fontsize3;
    font-weight: 700;
    color: $black
  }
  .v-list-item .v-list-item__title.feed-title{
    font-size: $fontsize2;
    font-weight: 700;
    line-height: 1.7;
    color: $blue5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .v-list-item__subtitle.feed-subtitle{
      font-size: 1.4rem;
    }
  }
