//General
html {
  font-size: 62.5% !important;
}

.v-application {
  font-family: IRANSans, sans-serif !important;

  a {
    color: unset;
    text-decoration: none;
  }

  p {
    margin: 0 !important;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .v-list--dense .v-list-item .v-list-item__title {
    font-size: $fontsize2;
    line-height: 2rem;
  }

  .theme--light.v-btn.v-btn--has-bg.search-btn {
    background-color: $blue3;
    color: $white;
    text-shadow: none;
    background-image: none;
  }

  .v-btn.v-size--default {
    font-size: $fontsize2;
    letter-spacing: unset;
  }

  .v-text-field--outlined fieldset {
    border: 1px solid rgba(34, 36, 38, .15);
  }

  .v-card__text {
    //font-size: $fontsize2;
  }

  .v-list-item {
    min-height: unset;
  }
}

body {
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANSans, sans-serif;
  font-size: 14px;
}

//.main-container {
//  width: 80%;
//  margin: 0 auto;
//}

.container {
  max-width: 80% !important;
}

.box {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
  margin: 1rem 0;
  padding: 1rem 1rem;
  border-radius: .3rem;
  border: 1px solid rgba(34, 36, 38, .15);
}

.footer-text {
  color: rgba(0, 0, 0, .4)
}

.btn-transparent {
  background-color: transparent !important;
  box-shadow: none !important;
}

//header
.main-header {
  border-bottom: 1px solid $gray1;

  //topbar
  .topbar {
    background-color: $green;
    color: $white;
    padding: .7rem 0;

    .icon {
      font-size: $fontsize4;
    }

    a:hover {
      color: $green2;
    }
  }


  //navbar
  .navbar-items {
    .theme--light.v-app-bar.v-toolbar.v-sheet {
      background-color: $white;
    }

    .v-sheet {
      &.v-toolbar:not(.v-sheet--outlined) {
        box-shadow: none;

        .v-btn {
          letter-spacing: unset;
          background-color: $white;

          .v-icon--left {
            margin-right: -.4rem;
            margin-left: .2rem;
            font-size: $fontsize4;
            width: unset;
            height: unset;
          }

          &.v-size--default {
            font-size: $fontsize2;
            padding: 0 .8rem;
          }
        }

        .v-btn--is-elevated {
          box-shadow: none;
        }
      }
    }

    .desktop-nav {
      .v-toolbar__content {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  //header-search
  .header-search {
    border: .1rem solid rgba(34,36,38,.15);
    border-radius: .3rem;
    background: #fff;
    color: rgba(0, 0, 0, .8);
    box-shadow: none;

    .v-text-field > .v-input__control > .v-input__slot::before {
      border: 0;
    }

    .v-input__slot {
      margin-bottom: 0;
    }

    .v-text-field__details {
      display: none;
    }

    .theme--light.v-btn:hover::before {
      opacity: 0;
    }

    .v-btn__content {
      justify-content: end;

      .search-icon {
        color: $green !important;
      }
    }
  }

  //header logo
  .logo-holder {
    height: 6.8rem;

    .logo {
      display: inline-block;
      width: 20rem;
      height: 6.8rem;
      background: url(../images/mainlogo4.png);
      background-size: 100% 100%;
    }
  }
}

// popular-hashtags
.popular-hashtags {
  .popular-hashtags-item {
    color: $pink;
  }
}

// category
.category {
  .icon {
    &:before {
      font-size: 4.5rem;
    }
  }

  .v-list-item__title {
    font-size: $fontsize2;
    white-space: break-spaces;
  }

  .test {
    .icon,
    .v-list-item__title {
      color: $blue1;
    }
  }

  .content {
    .icon,
    .v-list-item__title {
      color: $green3;
    }
  }

  .faq {
    .icon,
    .v-list-item__title {
      color: $orange1;
    }
  }

  .exam {
    .icon,
    .v-list-item__title {
      color: $blue2;
    }
  }

  .textbook {
    .icon,
    .v-list-item__title {
      color: $orange2;
    }
  }

  .school {
    .icon,
    .v-list-item__title {
      color: $brown1;
    }
  }

  .tutor {
    .icon,
    .v-list-item__title {
      color: $purple;
    }
  }
}

// Home page
.banner {
  background: url("../images/nowrooz-1401.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 28rem;
}

//search
.serch-sec {
  .search-item {
    width: 16%;
    max-width: 16%;
  }

  .v-input__control {
    display: none;
  }
  .theme--light.search-btn {
    background-color: $blue3;
    color: $white;
    text-shadow: none;
    background-image: none;
  }
}


// grade-card
.grade-card {
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;

  .label-tag {
    color: #fff;
    position: relative;
    right: -2.5rem;
    top: -.2rem;
    margin: -.2rem 1.7rem 0 1.2rem;
    padding: .69rem 1.8rem;

    &:before {
      position: absolute;
      -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
      transform: translateY(-50%) translateX(50%) rotate(-45deg);
      top: 50%;
      right: 100%;
      content: '';
      background-color: inherit;
      background-image: none;
      width: 2.64rem;
      height: 2.64rem;
      -webkit-transition: none;
      transition: none;
    }

    &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: -.25em;
      margin-top: -.25em;
      background-color: #fff !important;
      width: .6rem;
      height: .6rem;
      box-shadow: 0 -.1rem .1rem 0 rgba(0,0,0,.3);
      border-radius: 500rem;
    }
  }
  .v-list-item {
    min-height: unset;
  }

  .v-icon.v-icon {
    font-size: $fontsize4;
  }

  .type,
  .stat {
    font-size: $fontsize2;
  }

  .stat {
    color: $green;
  }

  .footer-card {
    font-size: $fontsize2;
  }

  &.grade-card1 {
    border: .2rem solid $green4 !important;

    .grade-title1 {
      color: $green4;
    }
  }

  &.grade-card2 {
    border: .2rem solid $red1 !important;

    .grade-title1 {
      color: $red1;
    }
    .label-tag1 {
      background-color: $red1;
    }
  }

  &.grade-card3 {
    border: .2rem solid $blue4 !important;

    .grade-title1 {
      color: $blue4
    }
  }

  &.grade-card4 {
    border: .2rem solid $violet1 !important;

    .grade-title1 {
      color: $violet1
    }
  }
}

// feature-card
.site-feature {
  .v-sheet.v-card:not(.v-sheet--outlined).feature-card {
    background-color: $gray2;
    box-shadow: none;

    .icon {
      font-size: 5.4rem;
      margin-bottom: 1.7rem;

      &.icong-school {
        color: $brown1;
      }
      &.icong-teacher {
        color: $purple;
      }
      &.icong-news {
        color: $green5;
      }
      &.icong-blog {
        color: $orange2;
      }
    }

    .feature-title {
      font-size: 1.8rem;
      font-weight: 700;
    }

    .theme--light.v-list {
      background-color: $gray2;
    }

    .feature-detail {
      font-size: $fontsize1;
      line-height: 1.6rem;
      color: rgba(0, 0, 0, .6) !important;
    }

  }
}

// footer feed card
.feed-card {
  .v-subheader.feed-header {
    font-size: $fontsize3;
    font-weight: 700;
    color: $black
  }

  .v-list-item .v-list-item__title.feed-title {
    font-size: $fontsize2;
    font-weight: 700;
    line-height: 1.7;
    color: $blue5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .v-list-item__subtitle.feed-subtitle {
    font-size: 1.4rem;
  }

  .feed-card-footer {
    height: 4.5rem;

    .footer-text {
      &.theme--light.v-icon {
        color: rgba(0, 0, 0, .4)
      }
    }

    .add-file {
      .theme--light.v-icon {
        font-size: 3.7rem;
      }
    }
  }

  &.learning {
    .add-file {
      .theme--light.v-icon {
        color: $green5 !important;
      }
    }
  }

  &.question {
    .add-file {
      .theme--light.v-icon {
        color: $orange3 !important;
      }
    }
  }
}

// stat-sec
.stat-sec {
  background: $gray3;

  .stat-item {
    .stat-value {
      font-size: 4.2rem;
    }

    .stat-label {
      font-weight: 700;
    }

  }
}

//last view Slider
.last-view-holder {
  .last-view-title {
    font-size: 1.7rem;
    color: $green6;
  }

  .last-view-slider {
    .last-view-item {
      width: 17.7rem;

      .last-view-image {
        width: 100%;
        max-width: 100%;
        height: 24rem;
      }

      .last-view-description {
        .description-title {
          white-space: normal;
        }
      }
    }
  }
}

// Footer
.theme--light.v-footer {
  background-color: $white !important;
  border-top: .1rem solid #e3e3e3 !important;
  border-bottom: .5rem solid $orange4 !important;

}

.footer-holder {
  .footer-item {
    padding: .3rem 0;
    margin: .7rem 0;

    .footer-item-link {
      &:hover .footer-item-title {
        color: $blue6;
      }

      .icon {
        font-size: 2rem !important;
      }
    }


  }
}
