//colors
$white: #FFFFFF;
$gray1: #e3e3e3;
$green: #008b8b;
$green2: #004a4a;
$green3: #57b947;
$pink: #e91e63;
$blue1: #2196f3;
$blue2: #3f51b5;
$blue3: #2185d0;
$purple: #a333c8;
$orange1: #ff9800;
$orange2: #f2711c;
$brown1: #a5673f;
