//colors
$black: #000000;
$white: #FFFFFF;
$gray1: #e3e3e3;
$gray2: #f9f9f9;
$gray3: #e1e4e4;
$gray4: rgba(0,0,0,.6);
$gray5: #e0e0e0;
$gray6: #e8e8e8;
$green: #008b8b;
$green2: #004a4a;
$green3: #57b947;
$green4: #42ae18;
$green5: #21ba45;
$green6: #0b863c;
$green6: #009688;
$green7: #0bc1b6;
$green8: #00b971;;
$pink: #e91e63;
$red1: #d74726;
$red2: #c83131;
$blue1: #2196f3;
$blue2: #3f51b5;
$blue3: #2185d0;
$blue4: #00a1de;
$blue5: #4183c4;
$blue6: #1e70bf;
$blue7: #85b7d9;
$blue8: #147cc4;
$blue9: #0579d6;
$purple: #a333c8;
$violet1: #8d33aa;
$violet2: #7027a5;
$orange1: #ff9800;
$orange2: #f2711c;
$orange3: #ff8a00;
$orange4: #ff5722;
$orange5: #e9681b;;
$yellow1: #eabc00;
$brown1: #a5673f;

//font-size
$fontsize1: 1.3rem;
$fontsize2: 1.4rem;
$fontsize3: 1.8rem;
$fontsize4: 2rem;
